# 식당 데이터를 통한 데이터 분석

In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

file_path = './data/chipotle.xls'
chipo = pd.read_csv(file_path)

In [34]:
print(type(chipo))

<class 'pandas.core.frame.DataFrame'>

In [35]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

## 음식의 종류는 총 몇 가지 일까?

In [36]:
tmp_arr = chipo['item_name'].unique()
len(tmp_arr)

50

In [37]:
tmp_arr

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl',
       'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos',
       'Chips and Guacamole', 'Chicken Crispy Tacos',
       'Chicken Soft Tacos', 'Chicken Burrito', 'Canned Soda',
       'Barbacoa Burrito', 'Carnitas Burrito', 'Carnitas Bowl',
       'Bottled Water', 'Chips and Tomatillo Green Chili Salsa',
       'Barbacoa Bowl', 'Chips', 'Chicken Salad Bowl', 'Steak Bowl',
       'Barbacoa Soft Tacos', 'Veggie Burrito', 'Veggie Bowl',
       'Steak Crispy Tacos', 'Chips and Tomatillo Red Chili Salsa',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos',
       'Chicken Salad', 'Canned Soft Drink', 'Steak Salad Bowl',
       '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Bowl',
       'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad',
       'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad',
       'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad'],
      dtype=object)

In [38]:
chipo_cost = chipo.groupby('item_name')['item_price'].mean()

DataError: No numeric types to aggregate

In [39]:
chipo_cost.head()

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
         ...
3363     8.49
3471     8.49
3502     8.69
3749    11.89
3750     8.99
Name: item_price, Length: 228, dtype: object

In [40]:
chipo['item_price'] = chipo['item_price'].str.lstrip('$')
chipo['item_price'] = chipo['item_price'].astype(float)

In [41]:
type(chipo['item_price'][0])

numpy.float64

In [42]:
chipo_cost = chipo.groupby('item_name')['item_price'].mean()

In [43]:
chipo_cost.sort_values(ascending=False)

item_name
Bowl                                     14.800000
Steak Salad Bowl                         11.847931
Chicken Salad Bowl                       11.170455
Carnitas Crispy Tacos                    11.137143
Carnitas Salad Bowl                      11.056667
Barbacoa Crispy Tacos                    10.928182
Carnitas Bowl                            10.833971
Steak Bowl                               10.711801
Barbacoa Salad Bowl                      10.640000
Veggie Soft Tacos                        10.565714
Steak Burrito                            10.465842
Veggie Bowl                              10.211647
Steak Crispy Tacos                       10.209714
Barbacoa Bowl                            10.187273
Veggie Salad Bowl                        10.138889
Carnitas Burrito                         10.132712
Chicken Bowl                             10.113953
Chicken Burrito                          10.082857
Chicken Crispy Tacos                     10.045319
Barbacoa Soft Tacos                      10.018400
Veggie Burrito                            9.839684
Barbacoa Burrito                          9.832418
Steak Soft Tacos                          9.746364
Chicken Soft Tacos                        9.635565
Carnitas Soft Tacos                       9.398500
Chicken Salad                             9.010000
Carnitas Salad                            8.990000
Steak Salad                               8.915000
Veggie Crispy Tacos                       8.490000
Veggie Salad                              8.490000
Salad                                     7.400000
Crispy Tacos                              7.400000
Burrito                                   7.400000
6 Pack Soft Drink                         6.610185
Chips and Guacamole                       4.595073
Nantucket Nectar                          3.641111
Izze                                      3.390000
Chips and Fresh Tomato Salsa              3.285091
Chips and Tomatillo Green Chili Salsa     3.087209
Chips and Roasted Chili Corn Salsa        3.084091
Chips and Tomatillo Red Chili Salsa       3.072917
Chips and Mild Fresh Tomato Salsa         3.000000
Chips and Tomatillo-Red Chili Salsa       2.987500
Chips and Tomatillo-Green Chili Salsa     2.544194
Chips and Roasted Chili-Corn Salsa        2.390000
Chips                                     2.342844
Bottled Water                             1.867654
Side of Chips                             1.840594
Canned Soft Drink                         1.457641
Canned Soda                               1.320577
Name: item_price, dtype: float64

## 무슨 메뉴를 많이 먹나요??

In [118]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [119]:
chipo_popular = chipo[['quantity', 'item_name', 'choice_description']]
chipo_popular

,quantity,item_name,choice_description
0,1,Chips and Fresh Tomato Salsa,NaN
1,1,Izze,[Clementine]
2,1,Nantucket Nectar,[Apple]
3,1,Chips and Tomatillo-Green Chili Salsa,NaN
4,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans..."
...,...,...,...
4617,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ..."
4618,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese..."
4619,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto..."
4620,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu..."
4621,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto..."

In [120]:
chipo_popular['choice_description'].fillna('Origin', inplace=True)
chipo_popular

C:\Users\dkgue\anaconda3\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

,quantity,item_name,choice_description
0,1,Chips and Fresh Tomato Salsa,Origin
1,1,Izze,[Clementine]
2,1,Nantucket Nectar,[Apple]
3,1,Chips and Tomatillo-Green Chili Salsa,Origin
4,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans..."
...,...,...,...
4617,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ..."
4618,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese..."
4619,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto..."
4620,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu..."
4621,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto..."

In [122]:
import re

choice_description = re.sub(pattern='[^a-zA-Z,]', repl='', string=chipo_popular['choice_description'][4]).split(',')
choice_description

['TomatilloRedChiliSalsaHot', 'BlackBeans', 'Rice', 'Cheese', 'SourCream']

In [132]:
chipo_popular['choice_description'] = chipo_popular['choice_description'].apply(lambda x : re.sub(pattern='[^a-zA-Z,]', repl='', string=x).split(','))
chipo_popular

C:\Users\dkgue\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,quantity,item_name,choice_description,saurce
0,1,Chips and Fresh Tomato Salsa,[Origin],Origin
1,1,Izze,[Clementine],Clementine
2,1,Nantucket Nectar,[Apple],Apple
3,1,Chips and Tomatillo-Green Chili Salsa,[Origin],Origin
4,2,Chicken Bowl,"[TomatilloRedChiliSalsaHot, BlackBeans, Rice, ...",TomatilloRedChiliSalsaHot
...,...,...,...,...
4617,1,Steak Burrito,"[FreshTomatoSalsa, Rice, BlackBeans, SourCream...",FreshTomatoSalsa
4618,1,Steak Burrito,"[FreshTomatoSalsa, Rice, SourCream, Cheese, Le...",FreshTomatoSalsa
4619,1,Chicken Salad Bowl,"[FreshTomatoSalsa, FajitaVegetables, PintoBean...",FreshTomatoSalsa
4620,1,Chicken Salad Bowl,"[FreshTomatoSalsa, FajitaVegetables, Lettuce]",FreshTomatoSalsa
4621,1,Chicken Salad Bowl,"[FreshTomatoSalsa, FajitaVegetables, PintoBean...",FreshTomatoSalsa

In [146]:
chipo_popular['saurce'] = chipo_popular['choice_description'].apply(lambda x : x[0])
chipo_popular['ingredient'] = chipo_popular['choice_description'].apply(lambda x : x[1:] if len(x[1:]) != 0 else x[0] )

In [148]:
chipo_popular.drop(['choice_description'], axis='columns', inplace=True)
chipo_popular

,quantity,item_name,saurce,ingredient
0,1,Chips and Fresh Tomato Salsa,Origin,Origin
1,1,Izze,Clementine,Clementine
2,1,Nantucket Nectar,Apple,Apple
3,1,Chips and Tomatillo-Green Chili Salsa,Origin,Origin
4,2,Chicken Bowl,TomatilloRedChiliSalsaHot,"[BlackBeans, Rice, Cheese, SourCream]"
...,...,...,...,...
4617,1,Steak Burrito,FreshTomatoSalsa,"[Rice, BlackBeans, SourCream, Cheese, Lettuce,..."
4618,1,Steak Burrito,FreshTomatoSalsa,"[Rice, SourCream, Cheese, Lettuce, Guacamole]"
4619,1,Chicken Salad Bowl,FreshTomatoSalsa,"[FajitaVegetables, PintoBeans, Guacamole, Lett..."
4620,1,Chicken Salad Bowl,FreshTomatoSalsa,"[FajitaVegetables, Lettuce]"
4621,1,Chicken Salad Bowl,FreshTomatoSalsa,"[FajitaVegetables, PintoBeans, Lettuce]"

In [155]:
chipo_popular['ingredient'] = chipo_popular['ingredient'].apply(lambda x : str(x).strip('[]'))
chipo_popular

,quantity,item_name,saurce,ingredient
0,1,Chips and Fresh Tomato Salsa,Origin,Origin
1,1,Izze,Clementine,Clementine
2,1,Nantucket Nectar,Apple,Apple
3,1,Chips and Tomatillo-Green Chili Salsa,Origin,Origin
4,2,Chicken Bowl,TomatilloRedChiliSalsaHot,"'BlackBeans', 'Rice', 'Cheese', 'SourCream'"
...,...,...,...,...
4617,1,Steak Burrito,FreshTomatoSalsa,"'Rice', 'BlackBeans', 'SourCream', 'Cheese', '..."
4618,1,Steak Burrito,FreshTomatoSalsa,"'Rice', 'SourCream', 'Cheese', 'Lettuce', 'Gua..."
4619,1,Chicken Salad Bowl,FreshTomatoSalsa,"'FajitaVegetables', 'PintoBeans', 'Guacamole',..."
4620,1,Chicken Salad Bowl,FreshTomatoSalsa,"'FajitaVegetables', 'Lettuce'"
4621,1,Chicken Salad Bowl,FreshTomatoSalsa,"'FajitaVegetables', 'PintoBeans', 'Lettuce'"

In [162]:
type(chipo_popular['saurce'][1])

str

In [159]:
result_tmp=chipo.groupby(['item_name','saurce']).value_counts()
result_tmp

KeyError: 'saurce'